# 调试模式
APP_DEBUG = true

# 服务端端口
SERVER_LISTEN = http://0.0.0.0:8888

# 数据库配置
DB_TYPE = mysql
DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_NAME = saimulti
DB_USER = root
DB_PASSWORD = 123456
DB_PREFIX =
DB_CHARSET = utf8mb4
DB_COLLATION = utf8mb4_general_ci

# 缓存方式
CACHE_MODE = redis

# Redis配置
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_PASSWORD =
REDIS_DB = 0
